<!-- First Band (Image) -->

<div class="row">
  <div class="large-12 columns">
    <h2>Getting Started</h2>
    <p class="intro">Setting up a presentation is simple.</p>
    <div class="row">
    <ol class="large-12 columns">
      <li ng-if="!userInfo.created">First, <a href="#!/register">you must create an account</a>. Only takes 2 seconds.</li>
      <li  ng-if="userInfo.created">First, give it a title.
        <div class="large-6">
          <input type="text" ng-model="getstarted.presName" maxlength="100" placeholder="My Awesome Presentation"/>

        </div>
      </li>
      <li ng-if="userInfo.created" >Next, we'll setup the first question that you would like to ask the audience, then give them 2 options to choose from.
        <div class="large-12">
          <div class="row collapse">
            <div class="small-9 columns">
              <input type="text" ng-model="getstarted.poll1" maxlength="50" placeholder="What is your favorite color?"/>
            </div>
            <div class="small-3 columns">
              <span class="postfix">(limit 50 characters)</span>
            </div>
          </div>
        </div>
        <div class="large-6">
          <div class="row collapse">
            <label>Option 1</label>
            <div class="small-6 columns">
              <input type="text" ng-model="getstarted.option1" maxlength="10" placeholder="Red"/>
            </div>
            <div class="small-6 columns">
              <span class="postfix">(limit 10 characters)</span>
            </div>
          </div>
        </div>
        <div class="large-6">
          <div class="row collapse">
            <label>Option 2</label>
            <div class="small-6 columns">
              <input type="text" ng-model="getstarted.option2" maxlength="10" placeholder="Blue"/>
            </div>
            <div class="small-6 columns">
              <span class="postfix">(limit 10 characters)</span>
            </div>
          </div>
        </div>
      </li>
      <li ng-if="userInfo.created && getstarted.presName">Finally view and save your presentation.
      <div>
        <a ng-click="setupPres()" class="button">Download</a>
      </div></li>
    </ol>
      </div>
  </div>
</div>



