<!-- First Band (Image) -->

<div class="row">
  <div class="large-12 columns">
    <h2>Getting Started</h2>
    <p class="intro">Setting up a presentation is simple.</p>
    <div class="row">
    <ol class="large-12 columns">
      <li ng-if="!userInfo.created">First, you must create an account. Only takes 2 seconds.</li>
      <li  ng-if="userInfo.created">First, give your presentation a name.
        <div class="large-6">
          <input type="text" ng-model="getstarted.presName" placeholder="My Awesome Presentation"/>

        </div>
      </li>
      <li >Next, we'll setup the first question that you would like to ask the audience and give them 2 options to choose from.
        <div class="large-6">
          <input type="text" ng-model="getstarted.poll1" placeholder="What is your favorite color?"/>
        </div>
        <div class="large-3">
          Option 1
          <input type="text" ng-model="getstarted.option1" placeholder="Red"/>

        </div>
        <div class="large-3">
          Option 2
          <input type="text" ng-model="getstarted.option2" placeholder="Blue"/>

        </div>
      </li>
      <li>Finally download or view your presentation.
      <div>
        <a ng-click="setupPres()" class="button">Download</a>
      </div></li>
    </ol>
      </div>
  </div>
</div>


<div class="row margin-top15">
  <div class="large-7 columns">
    <h2>About Interactive presentations</h2>

  </div>

  <div class="large-5 columns login">
    <h2>It's Free</h2>

  </div>
</div>



